body{
    background-color: cadetblue;
}
h1{
    background-color:brown ;
    color: white;
    margin: 10px;
    display: inline-block;
    text-align: center;
}
div{
    background-color: black;
    border: 5px solid red;
    height: 500px;
    width: 500px;
    margin: 35px;
}
p{
    background-color: aqua;
}